body {
    font-family: 'Times New Roman', Times, serif;
    background: white;
    line-height: 1.5;
}
hr {
    width: 1200px;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    color: black;
    text-align: center;
}
.first-h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
    text-align: center;
}
section > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    margin: 20px;
}
p {
    text-align: left;
    margin: 20px;
    font-family: sans-serif;
    color: black;
}
#bio {
    text-align: left;
    margin: 20px;
}
ul li {
    font-family: sans-serif;
    color: black;
}
footer {
    width: 1260px;
    height: min-content;
    margin-top: 10px;
}
#social-network {
    padding: 15px;
    background: white;
}
img {
    margin: 20px;
}